@import url(owlcursor: pointer;-carousel.css);
* {
  font-weight: 300;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

html, body, div, span, a, img, h1, h2, p, ul, li {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

svg:not(:root) {
  overflow: hidden; }

a[href^=tel] {
  color: inherit;
  text-decoration: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; }

input {
  -webkit-user-select: auto; }

img {
  -ms-interpolation-mode: bicubic; }

:link, :hover, :active, :focus, :visited {
  outline: 0; }

::-webkit-selection {
  background: #ccc;
  color: white; }

::-moz-selection {
  background: #ccc;
  color: white; }

::selection {
  background: #ccc;
  color: white; }

textarea,
input[type="text"],
input[type="number"],
input[type="email"] {
  -webkit-appearance: none; }

a, button, input {
  color: inherit;
  font: inherit; }

body {
  font-family: 'Roboto';
  font-size: 16px; }

.logo {
  cursor: pointer;
  width: 165px; }

.container {
  margin: 0 auto;
  max-width: 1060px;
  padding: 0 20px; }

header {
  padding: 30px 0; }

.flex-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

i.call {
  color: #E85B21;
  font-size: 1.7em;
  margin-right: 10px; }

.info-support {
  color: #B5B5B5;
  font-size: 0.8em;
  margin-right: 10px;
  text-transform: uppercase; }

.number {
  font-size: 1.3em;
  font-weight: 500; }

.flex-center, .menu li, .carousel-wrapper .owl-carousel.owl-drag .owl-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.features-page {
  position: relative; }

.main-menu {
  color: #FFF;
  padding: 0; }
  .main-menu.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    max-width: 100%;
    background-color: #293847;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
    .main-menu.sticky .menu {
      width: 85%;
      margin: 0 auto; }
    .main-menu.sticky .menu li {
      padding: 15px;
      height: 50px; }
    .main-menu.sticky .menu .house-bg,
    .main-menu.sticky .menu li:last-of-type {
      padding: 10px; }

.menu-button {
  background-color: #293847;
  color: #FFF;
  display: none;
  font-size: .8em;
  font-weight: 500;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s ease; }

.menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3; }
  .menu li {
    background-color: #293847;
    border-right: 1px solid #000;
    -webkit-flex-basis: 15%;
    -moz-flex-basis: 15%;
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
    text-align: center;
    transition: all .3s;
    height: 60px;
    cursor: pointer; }
    .menu li:hover {
      background-color: #355069;
      cursor: pointer; }
    .menu li:last-of-type {
      border-right: 0;
      -webkit-flex-basis: 30%;
      -moz-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
      padding: 15px; }
      .menu li:last-of-type:hover div {
        border: 1px solid #FFF; }
    .menu li a {
      font-size: 0.9em;
      font-weight: 300;
      text-transform: uppercase; }
  .menu .house-bg {
    background-color: #B5B5B5;
    -webkit-flex-basis: 10%;
    -moz-flex-basis: 10%;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    padding: 16px 20px 15px;
    transition: all .3s; }
    .menu .house-bg:hover {
      background-color: #E85B21;
      cursor: pointer; }

i.house {
  font-size: 2em; }

.orange-border {
  border: 1px solid #E85B21;
  padding: 5px;
  text-transform: uppercase;
  transition: all .3s; }

.background-image {
  filter: brightness(70%);
  left: 0;
  margin: 0 auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  min-height: 500px; }

i.server-image {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  background-color: #E85B21;
  border-radius: 100%;
  color: #FFF;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  height: 70px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 70px; }

.main-information {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 0; }

.hosting {
  color: #FFF;
  display: inline;
  font-size: 1.3em;
  font-weight: 500;
  margin-left: 10px;
  text-transform: uppercase; }

.inline-item {
  display: inline-block; }

h2 {
  color: #FFF;
  font-size: 2.5em;
  margin-bottom: 15px;
  margin-top: 15px; }

.information {
  -webkit-flex-basis: 70%;
  -moz-flex-basis: 70%;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%; }

.price {
  -webkit-flex-basis: 30%;
  -moz-flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }

.hosting-features {
  color: #FFF;
  line-height: 2em; }

.bullet {
  margin-right: 10px;
  width: 15px; }

.orange-left {
  color: #E85B21;
  display: block;
  font-size: 1.6em;
  font-weight: 300;
  text-align: right; }

.group-price-month {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 10px; }

.big-size-price {
  color: #FFF;
  display: inline-block;
  font-size: 2em;
  font-weight: inherit;
  text-align: right;
  vertical-align: middle; }

.little-size-price {
  color: #FFF;
  font-size: 1em;
  font-weight: inherit;
  text-align: right; }

.month-detail {
  color: #E85B21;
  font-size: 0.7em;
  font-weight: inherit;
  text-align: right; }

.fixing-items {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }
  .fixing-items .price-info {
    font-weight: 300;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center; }

.big-size-price {
  font-size: 5em; }

.little-size-price {
  font-size: 2em;
  text-align: left; }

.month-detail {
  font-size: 1.3em; }

.fixing-items.price-info {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  .fixing-items.price-info .big-size-price {
    font-size: 2em; }
  .fixing-items.price-info .little-size-price {
    font-size: 1em;
    text-align: left; }
  .fixing-items.price-info .month-detail {
    font-size: .7em; }

.button-primary {
  background-color: #E85B21;
  border: 0;
  color: #FFF;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 15px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s;
  width: 100%; }
  .button-primary:hover {
    filter: brightness(120%); }

.gray {
  background: #EBEBEB; }

.card {
  background-color: #FFF;
  display: inline-block;
  margin-top: -50px;
  transition: all .3s ease;
  width: 27%; }
  .card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px); }
    .card:hover .price-card, .card:hover button {
      background: #E85B21; }
    .card:hover .month-detail {
      color: #FFF; }

.plans {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px; }

.plan {
  color: #E85B21;
  font-size: 1.2em;
  font-weight: 500;
  margin-right: 10px;
  text-transform: uppercase; }

.type-plan {
  color: #494949;
  font-size: 2em;
  text-transform: uppercase; }

.title-card {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 20px; }

.price-card {
  background-color: #494949;
  padding: 16px; }

.little-money {
  color: #FFF;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 5px; }

.big-money {
  color: #FFF;
  display: inline;
  font-size: 2.5em;
  font-weight: 500; }

.month {
  color: #E85B21;
  font-size: 0.6em; }

.customer-info {
  color: #FFF;
  font-size: 0.7em;
  text-align: center; }

.features-card {
  color: #494949;
  font-weight: 300;
  line-height: 35px;
  padding: 20px 40px; }

b {
  font-weight: 500; }

.just-features {
  margin-bottom: 30px; }
  .just-features li {
    line-height: 22px;
    margin-bottom: 15px;
    position: relative; }
    .just-features li:last-of-type {
      margin-bottom: 0; }
    .just-features li:before {
      background-color: #E85B21;
      border-radius: 50%;
      content: '';
      height: 6px;
      left: -15px;
      position: absolute;
      top: 10px;
      width: 6px; }

.button-card {
  background-color: #B5B5B5;
  border: 0;
  color: #FFF;
  cursor: pointer;
  font-weight: 500;
  padding: 8px;
  text-transform: uppercase;
  width: 100%; }

footer {
  background-color: #293847;
  padding: 50px 0; }

.footer-page {
  color: #FFF;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }

.footer-info {
  border-right: 0.8px solid #757C82;
  -webkit-flex-basis: 25%;
  -moz-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  text-align: center;
  padding: 0 5px; }
  .footer-info:last-of-type {
    border-right: 0; }

.footer-title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: center; }

.footer-list li {
  margin-bottom: 12px; }
  .footer-list li a {
    color: #B5B5B5;
    font-size: 0.9em;
    font-weight: 100;
    transition: all .3s; }
    .footer-list li a:hover {
      color: #FFF; }

.social-icons i.fa-circle {
  color: #355069;
  cursor: pointer; }

.divider {
  color: #B5B5B5;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }
  .divider a span {
    color: #B5B5B5;
    font-size: 1.3em;
    transition: all .3s; }
    .divider a span:hover {
      color: #FFF; }

i.fa-book, i.fa-line-chart {
  font-size: 2em;
  margin-bottom: 10px;
  margin-right: 12px; }

.bullet i.fa-check {
  color: #FFF; }

.bullet i.fa-circle {
  color: #E85B21; }

.fa-stack.bullet {
  font-size: 0.5em; }

.title {
  color: #494949;
  font-size: 1.8em;
  font-weight: 500;
  margin: 0;
  margin-bottom: 40px;
  text-align: center; }

.slider {
  padding: 50px 0; }

.carousel-wrapper {
  padding: 0 50px; }

.carousel-wrapper .owl-carousel.owl-drag .owl-item {
  height: 120px; }

.carousel-outer {
  position: relative; }

.controller {
  color: #B5B5B5;
  font-size: 3em;
  font-weight: 300;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s;
  display: block;
  cursor: pointer; }
  .controller:hover {
    color: #E85B21; }
  .controller.left {
    left: 0; }
  .controller.right {
    right: 0; }

.social-networking-sites li {
  display: inline-block;
  margin-right: 10px; }
  .social-networking-sites li a {
    font-size: 1.2em; }

@media screen and (max-width: 1200px) {
  .main-information {
    padding: 90px 25px; }

  .slider {
    padding: 50px 15px; } }
@media screen and (max-width: 768px) {
  i.call {
    font-size: 1.2em;
    margin-right: 5px; }

  .info-support {
    font-size: .7em;
    margin-right: 5px; }

  .number {
    font-size: 1em; }

  .menu li {
    font-size: 0.8em; }

  .card {
    width: 50%;
    margin-bottom: 50px;
    margin-top: 0; }
    .card:first-of-type {
      margin-top: -50px; }
    .card:last-of-type {
      margin-bottom: 0; }

  .plans {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  .hosting-features {
    display: none; }

  .slider {
    padding: 50px 15px; }

  .orange-border {
    border: 0;
    padding: 0; }

  .menu li:last-of-type:hover .orange-border {
    border: 0; } }
@media screen and (max-width: 480px) {
  .support {
    display: none; }

  header {
    padding: 20px; }
    header .flex-content {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; }
    header .logo {
      width: 150px; }

  .menu-button {
    display: block;
    cursor: pointer; }

  .main-menu.active .menu-button {
    background-color: #E85B21; }
  .main-menu.sticky .menu-button {
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .main-menu.sticky .menu {
    width: 100%; }

  .menu .house-bg {
    display: none; }

  .menu {
    display: none; }
    .menu li {
      border-bottom: 1px solid #3c5267;
      height: auto;
      padding: 15px; }

  .main-menu.active .menu {
    display: block;
    position: absolute;
    left: 0;
    right: 0; }

  .main-menu .menu-icon {
    font-size: 1em; }
    .main-menu .menu-icon .fa-circle {
      color: #c24714; }
    .main-menu .menu-icon.minus {
      display: none; }
  .main-menu.active .menu-icon.minus {
    display: inline-block; }
  .main-menu.active .menu-icon.plus {
    display: none; }

  .information {
    display: none; }

  .card {
    width: 100%; }
    .card:last-of-type {
      margin-bottom: 0; }

  .plans {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  .footer-page article {
    display: none; }
    .footer-page article:last-of-type {
      display: block; }

  .divider {
    display: none; }

  .price {
    margin: 0 auto; } }

/*# sourceMappingURL=styles.css.map */
